<settings>
	<setting propertyKey="@Properties.API_standard" title="@Strings.ApiStandard">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ApiStandardSubsonic</listEntry>
            <listEntry value="1">@Strings.APIStandardAmpache</listEntry>
        </settingConfig>
    </setting>
	<setting propertyKey="@Properties.subsonic_API_URL" title="@Strings.ServerAddress">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
	<setting propertyKey="@Properties.subsonic_API_usr" title="@Strings.ServerUser">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
	<setting propertyKey="@Properties.subsonic_API_key" title="@Strings.ServerKey">
		<settingConfig type="alphaNumeric" required="true" />
	</setting>
</settings>